@media (max-width: 844px) {
    section {
        margin: 120px auto 100px;
        padding: 31px 21px 0;
        border-radius: 9px;
    }
    #adviceNum {
        font-size: 10px;
        letter-spacing: 4.3px;
    }
    #adviceText {
        margin: 24px 0 24px;
        font-size: 24px;
    }
    #dividerDesktop {
        display: none;
    }
    #dividerMobile {
        display: block;
    }
    button {
        margin: 0 0 0;
    }
}