html, body {
    background-color: var(--darkblue);
}

body {
    padding: 0 8px;
}

section {
    margin: 5% auto 100px;
    padding: 37px 47px 0;
    max-width: 446px;
    border-radius: 15px;
    text-align: center;
    background-color: var(--dark-grayish-blue);
    box-shadow: 15px 40px 80px 50px hsla(220, 14%, 4%, 0.082);
}

#adviceNum {
    color: var(--neon-green);
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 4.6px;
}

#adviceText {
    margin: 24px 0 39px;
    color: var(--light-cyan);
    font-size: 28px;
    font-weight: 800;
    letter-spacing: -.3px;
}

img {
    width: 100%;
}

#dividerMobile {
    display: none;
}

button {
    margin: 3px 0 0;
    border: none;
    border-radius: 100px;
    width: 64px;
    height: 64px;
    background-color: var(--neon-green);
    transform: translate(0, 32px);
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
button:hover, button:focus {
    cursor: pointer;
    box-shadow: 0 0 30px var(--neon-green);
}
button img {
    width: 24px;
    vertical-align: middle;
}
button:active img {
    animation: spin 200ms linear;
}